# General Python ignores
__pycache__/
*.pyc
*.so
*.egg-info/
dist/
build/



# Virtual environments
venv/
.env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Shiny for Python cache
.shiny/

testing/